doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel='stylesheet', href='/layui/css/layui.css')
        link(rel='stylesheet', href='/css/common.css')
    body.layui-layout-body
        block layout
        script(type="text/javascript" src="/layui/layui.all.js")
        block javaScrip
